---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
 
const { blok } = Astro.props
const renderedDescription = renderRichText(blok.description)
---
 
<div
  {...storyblokEditable(blok)}
  class='w-full h-full p-12 bg-white text-center rounded-3xl border-black border-4 drop-shadow-solid-amber'
>
  <h3 class='text-2xl font-bold text-brick mb-4'>{blok.name}</h3>
  <div set:html={renderedDescription}></div>
</div>