---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
---
 
<main class="px-12 md:px-0 pb-8 text-center" {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok: SbBlokData) => {
      return <StoryblokComponent blok={blok} />
    })
  }
</main>