---
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro"
import type { RichTextType } from "storyblok-rich-text-astro-renderer"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

import { storyblokEditable } from '@storyblok/astro'

export interface Props {
  blok: {
    text: RichTextType,
  };
}
const { blok } = Astro.props
---

<div class="container mx-auto" {...storyblokEditable(blok)}>
    <RichTextRenderer
      content={blok.text}
      schema={{
        nodes: {
          heading: ({ attrs: { level } }) => ({
            props: {
              variant: `h${level}`,
              class:`text-${level === 1 ? '4xl mb-3' : 'xl'}`
            },
          }),
          paragraph: () => ({
            props: {
              class: "text-lg",
            },
          }),
        },
        marks: {
          highlight: ({ attrs }) => ({
            props: {
              style: `background-color: ${attrs.color}`,
              class: "px-5 py-1 rounded-full",
            }
          }),
          link: ({ attrs }) => {
            const { custom, ...restAttrs } = attrs;

            return {
              props: {
                class: "underline text-brick",
                ...restAttrs
              },
            };
          },
        }
      }}
      resolver={(blok) => {
        return {
          component: StoryblokComponent,
          props: { blok },
        };
      }}
      {...storyblokEditable(blok)}
    />
</div>